# IDE Specific
.idea/
*.iml
.editorconfig
captures/
.externalNativeBuild/
.cxx/

# Local Environment
local.properties
.gradle/
build/
app/libs/*.jar

# OS & Logs
*.log
.DS_Store
Thumbs.db

# Build Artifacts
*.apk
*.aar
*.aab
